 <!DOCTYPE html>
<html lang="en">
    
<head>
        <title>后台管理中心</title><meta charset="UTF-8" />
        <link rel="shortcut icon"  href="/static/img/favicon.ico">
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/admin.css" />
        
        <SCRIPT src="/static/js/Clock.js" type=text/javascript></SCRIPT>

</head>
<body style="background: #5084FF;"  >
<div align="center">
<div style="width: 3px; background:#5084FF;">&nbsp;</div>
<center style="color: #00FFA9;font-weight: 800;font-size: 30px;" > 您好！欢迎进入后台管理系统</center>
<dir style="color: #00FFA9;font-size: 20px;">
　　现在的时间是:<span  ><b><SPAN id=clock style="color: #00FFA9;"></SPAN></b>
 <SCRIPT type=text/javascript>
    var clock = new Clock();
    clock.display(document.getElementById("clock"));
</SCRIPT></span>
</dir>　
</div>
<div style="padding: 8px;background-color: #5084FF;" align="center">
<object width="690" height="200">
  <embed src="/static/js/20101262241501.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="690" height="200"></embed>
</object>

</div>

</body>
</html>